@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e22a7f;
  --secondary: #1c94df;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.myScrollBar::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.myScrollBar::-webkit-scrollbar-thumb {
  background: var(--primary);
}
